*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
!gradle-wrapper.jar
*.apk
*.ap_
*.dex
bin/
gen/
.gradle/
build/
gen### Android template
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.class
*.log
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties